html{
    background: #2c3e50 ;

}

select{
    color: cornflowerblue;
    border-radius: 5px;
    border: 3px solid cornflowerblue;

}
aside{

    border: 3px solid cornflowerblue;
    border-radius: 5px;
    float: left;
    width: 16vw;
    height: 100vh;
    background: beige;
    margin-left: 1rem;
}
main{

}
header {
    width: 100%;
}
@media only screen and (max-width: 1000px) {
    aside{
        position: absolute;
        border: 3px solid cornflowerblue;
        border-radius: 5px;
        float: left;
        width: 95%;
        height: max-content;
        background: beige;
        margin-left: 0;
    }
}
@media only screen and (max-width: 500px) {
    aside{
        position: absolute;
        border: 3px solid cornflowerblue;
        border-radius: 5px;
        float: left;
        width: 95%;
        height: 100%;
        background: beige;
        margin-left: 0;
    }
}